@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(226, 56, 14);
    position: relative;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    width: 300px;
    height: 650px;
    overflow: hidden;
}

h1 {
    font-family: 'Honk';
    font-size: 50px;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}

div#imagem {
    height: 250px;
    background: wheat url(../imagens/basquete-novo.jpg) center right fixed;
    background-size: cover;
    display: block;
}

p#txt {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

form {
    padding: 10px;
    display: block;
}

.login {
    padding-left: 5px;
    width: calc(100% - 44px);
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
}

label {
    vertical-align: middle;
    color: white;
    padding-left: 5px;
}

 .border {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgb(241, 8, 8);
    border-radius: 10px;
    margin-bottom: 5px;

}

.botao {
    background-color: rgba(255, 1, 1, 0.856);
    color: white;
    display: block;
    margin: auto;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-color: rgb(255, 0, 140);
    margin-bottom: 5px;
}

.botao.-color {
    background-color: white;
    color: black;
}

.botao:hover {
    cursor: pointer;
    background-color: rgba(255, 72, 0, 0.904);
}

.botao.-color:hover {
    background-color: rgba(255, 30, 0, 0.644);
}